@media(max-width:1000px){
    /*HEADER***********************/
    nav{
      padding: 0 40px 0 50px;
    }

    /*HEADING**********************/
    .top-wrapper .text h1{
        font-size:32px;
    }
    .top-wrapper .text p{
        font-size: 18px;
    }
    /*footer************************/
    footer {
      background-color: #000080;
      color: #fff;
      height: 200px;
      padding: 50px;
    }

    .footer-logo {
      float: left;
      font-size: 32px;
      padding-right: 400px;
      padding-bottom: 50px;
    }

    .footer-list {
      float: left;
      padding-right: 40px;
    }

    footer p{
      font-size: 15px;
    }

    .footer-list li:hover {
      padding: 10px;
      color: yellow;
      cursor: pointer;
    }

    /*Main-Body*/
    .konten-main h1{
      font-size: 32px;
    }

    .konten-main h2{
      font-size: 26px;
    }
}

@media screen and (max-width: 670px) {
  /*HEADER***************************/
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }

  /*HEADING************************/
  .top-wrapper {
    padding-top: 80px;
    text-align: center;
  }
  .top-wrapper img {
    width: 100%;
    margin-bottom: 20px;
  }
  .top-wrapper .text {
    padding-top: 40px;
    width: 100%;
    float: none;
  }
  .btn-wrapper {
    width: 100%;
  }
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .image-wrapper{
    display:none;
  }

   /*Main-Body*/
   .konten {
    width: 100%;
   }

  /*Footer*******************************/
  footer {
    background-color: #000080;
    color: #fff;
    height: 700px;
    padding: 70px;
  }

  .footer-logo {
    float: left;
    font-size: 32px;
    padding: 20 20 30 20px;
    margin: center;
  }

  .footer-list {
    float: left;
    padding: 30px;
  }

  footer p{
    font-size: 15px;
  }
  
  .footer-list li:hover {
    padding: 10px;
    color: yellow;
    cursor: pointer;
}
}
  